
<footer class="footer" th:fragments="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5><i class="fas fa-chess-knight me-2"></i>El Martillo Andaluz</h5>
                    <p>Tu tienda de juegos de mesa y Warhammer en Sevilla. Ven a disfrutar de tus juegos favoritos en un ambiente único.</p>
                    <p>© 2025 Todos los derechos reservados</p>
                </div>
                <div class="col-md-4">
                    <h5><i class="fas fa-clock me-2"></i>Horario</h5>
                    <ul class="list-unstyled">
                        <li>Lunes-Viernes: 10:00-14:00 / 17:00-21:00</li>
                        <li>Sábados: 10:00-21:00</li>
                        <li>Domingos: Cerrado</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5><i class="fas fa-envelope me-2"></i>Contacto</h5>
                    <address>
                        <strong>Dirección:</strong><br>
                        C/ Manuel Chaves Nogales, s/n<br>
                        41020, Sevilla<br>
                        <strong>Email:</strong> info@elmartilloandaluz.es<br>
                        <strong>Teléfono:</strong> 955 123 456
                    </address>
                </div>
            </div>
        </div>
    </footer>